@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #fcfbfb; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#addca5;
    font-family: 'Covered By Your Grace', 'Open Sans';
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
    color: #094074;
}

nav a:hover {
    color: black;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color: #094074;
    font-family: 'Secular One';
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #094074;
}

h2 {
    margin: 0;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: black;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.book, .join {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #addca5;
}


.msg {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 7/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #094074;
    font-family: 'Secular One';
}

.msg p {
    color: #094074;
    font-size: .8em;
    padding-bottom: 15px;
}

.river1 {
    width: 100%;
    grid-column: 2/10;
    grid-row: 1/6;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river1 {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/10;
    grid-row: 6/12;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river1 h2{
    color: #094074;
    font-family: 'Secular One';
}

.msg-river1 p{
    color: #094074;
    font-size: .8em;
    padding-bottom: 15px;
}

.river2 {
    width: 100%;
    grid-column: 2/10;
    grid-row: 18/24;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river2 {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/10;
    grid-row: 24/30;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river2 h2 {
    color: #094074;
    font-family: 'Secular One';
}

.msg-river2 p {
    color: #094074;
    font-size: .8em;
    padding-bottom: 15px;
}

.river3 {
    width: 100%;
    grid-column: 2/10;
    grid-row: 30/36;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river3 {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/10;
    grid-row: 36/42;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 1em;
}

.msg-river3 h2 {
    color: #094074;
    font-family: 'Secular One';
}

.msg-river3 p {
    color: #094074;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #addca5;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #094074;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    font-family: 'Covered By Your Grace', 'Open Sans';
}    

footer p a:hover {
    text-decoration: underline;
}    

footer .social img {
    padding-top: 15px;
    margin-top: 200px;
}

.logo, .icon {
    width: 100px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #094074;
    width: 100%;
    transition: transfor .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
        